/*GLOBALS*/
@import url('https://fonts.googleapis.com/css?family=Flamenco:300,400');

.title-text {
  font-family: 'Flamenco', cursive;
  font-size: 1.5em;
  font-weight: bold;
  padding-top: 1em;
  padding-left: 3em;
  padding-right: 3em;
}

.desc-text {
  font-family: 'Flamenco', cursive;
  font-size: 1.1em;
  font-weight: bold;
  margin-bottom: 10em;
  padding-left: 1em;
  padding-right: 1em;
}


/*Header section*/
#navbar {

}

/*START FLYING BOX CLASS*/
.box-title-left {
  height: 1px;
  width: 1px;
  -webkit-animation: flying-box-left 2s; /* Safari 4+ */
  position: relative;
  animation-fill-mode: forwards;
  margin-bottom: 1em;
  border-radius: 2em;

}

.box-title-right {
  height: 1px;
  width: 1px;
  -webkit-animation: flying-box-right 2s; /* Safari 4+ */
  position: relative;
  animation-fill-mode: forwards;
  margin-top: 1em;
  margin-bottom: 1em;
  border-radius: 2em;
}
/*END FLYING BOX CLASS*/

/*FLYING BOX KEYFRAMES*/
@-webkit-keyframes flying-box-left {
    0% {transform-origin: right; opacity:0; transform:translateX(-100%)}
    100% {background-color:rgb(128,128,128); opacity:0.1;}
    100% {width:auto; height:8.3em; transform:translateX(0%); opacity:1;}
}

@-webkit-keyframes flying-box-right {
    0% {transform-origin: right; opacity:0; transform:translateX(1000%)}
    100% {background-color:rgb(128,128,128); opacity:0.1;}
    100% {width:auto; height:8.3em; transform:translateX(0%); opacity:1;}
}
/*END FLYING BOX KEYFRAMES*/

/*ROWS AND COLUMNS CONTENT*/
.box-content {
  height: 30em;
  position: relative;
  background-color: #fff;
}

.picture-one iframe {
  /*background-image: url(../media/first-website.jpg);*/
  overflow: scroll;
  background-size: cover;
  background-position: center;
  height: 30em;
  border-radius: 4em;
}

.picture-two {
  background-image: url(../media/mountaindew.jpg);
  background-size: cover;
  background-position: center;
  height: 30em;
  border-radius: 4em;
}

.picture-three {
  background-image: url(../media/guitar.jpg);
  background-size: cover;
  background-position: center;
  height: 30em;
  border-radius: 4em;
}

.picture-four {
  /*background-image: url(../media/me.jpg);*/
  overflow: scroll;
  background-size: cover;
  background-position: center;
  height: 30em;
  border-radius: 4em;
}



/*FOOTER*/

footer {
    height: 2em;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    font-size: 2em;
    margin: 0 auto;
    clear: both;
    padding-bottom: 0.1em;
    padding-top: 0.5em;
    position: relative;
    top: 50px;
}
